* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  width: 100%;
  font-family: Roboto, Helvetica, Arial, Lucida, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.container {
  width: 90%;
  padding: 0 15px;
  margin: 0 auto;
}
